<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard | QIMS</title>

    <link rel="stylesheet" href="../static/css/dashboard.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="container">

    <!-- Sidebar -->

<div class="sidebar">

    <ul>

        <li class="active">
            <a href="/dashboard">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/inspection">
                <i class="fa-solid fa-plus"></i>
                New Inspection
            </a>
        </li>

        <li>
            <a href="/records">
                <i class="fa-solid fa-list"></i>
                Inspection Records
            </a>
        </li>

        <li>
            <a href="/defects">
                <i class="fa-solid fa-book"></i>
                Defect Tracker
            </a>
        </li>
        <li>
            <a href="/defect-library">
               <i class="fa-solid fa-book"></i>
                Defect Library
            </a>
        </li>

        <li>
            <a href="/report">
                <i class="fa-solid fa-file-lines"></i>
                Reports
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </li>

    </ul>

</div>
    <!-- Main Content -->

    <div class="main-content">

        <!-- Top Bar -->

        <div class="topbar">

            <h1>Dashboard</h1>

            <div class="top-right">

                <input
                type="text"
                placeholder="Search Inspection...">

                <span class="date">
                    05 July 2026
                </span>

                <div class="profile">

                    <i class="fa-solid fa-user"></i>

                {{username}}

                </div>

            </div>

        </div>

        <!-- Cards will come here -->
<!-- Dashboard Cards -->

<div class="cards">

    <div class="card">

        <i class="fa-solid fa-clipboard-check"></i>

        <h3>Total Inspection</h3>

        <h2>{{total}}</h2>

    </div>

    <div class="card">

        <i class="fa-solid fa-circle-check"></i>

        <h3>Passed Tires</h3>

        <h2>{{passed}}</h2>

    </div>

    <div class="card">

        <i class="fa-solid fa-circle-xmark"></i>

        <h3>Rejected Tires</h3>

        <h2>{{failed}}</h2>

    </div>

    <div class="card">

        <i class="fa-solid fa-clock"></i>

        <h3>Pending Inspection</h3>

        <h2>{{pending}}</h2>

    </div>

    <div class="card">

        <i class="fa-solid fa-chart-line"></i>

        <h3>Quality Rate</h3>

        <h2>{{quality_rate}}%</h2>

    </div>

</div>


<!-- Recent Inspection -->

<div class="table-section">

    <h2>Recent Inspections</h2>
<div class="table-container">

    <table>

        <thead>

            <tr>

                <th>Inspection ID</th>

                <th>Article No.</th>

                <th>Size</th>

                <th>Result</th>

                <th>Inspector</th>

                <th>Date</th>

            </tr>

        </thead>

        <tbody>

        {% for row in recent_inspections %}

        <tr>

           <td>{{ row[0] }}</td>

           <td>{{ row[1] }}</td>

           <td>{{ row[2] }}</td>

           <td>
           {% if row[3] == "Pass" %}
            <span class="status passed">Pass</span>
            {% else %}
            <span class="status rejected">Fail</span>
            {% endif %}
           </td>

           <td>{{ row[4] }}</td>

           <td>{{ row[5] }}</td>

        </tr>

        {% endfor %}

        </tbody>
    </table>

</div>
<div class="pagination">

    {% if page > 1 %}
        <a href="{{ url_for('dashboard', page=page-1) }}">
            <button>Previous</button>
        </a>
    {% else %}
        <button disabled>Previous</button>
    {% endif %}

    {% for p in range(1, total_pages + 1) %}

        {% if p == page %}
            <button class="active-page">{{ p }}</button>
        {% else %}
            <a href="{{ url_for('dashboard', page=p) }}">
                <button>{{ p }}</button>
            </a>
        {% endif %}

    {% endfor %}

    {% if page < total_pages %}
        <a href="{{ url_for('dashboard', page=page+1) }}">
            <button>Next</button>
        </a>
    {% else %}
        <button disabled>Next</button>
    {% endif %}

</div>
</div>
<!-- Graph Section -->

<div class="graph-section">

    <div class="graph-card">

        <h2>Inspection Trend</h2>

        <canvas id="lineChart"></canvas>

    </div>

    <div class="graph-card">

        <h2>Inspection Result</h2>

        <canvas id="pieChart"></canvas>

    </div>
    <script>
const graphLabels = {{ graph_labels | tojson }};
const graphValues = {{ graph_values | tojson }};
const passCount = {{ pass_count | tojson }};
const failCount = {{ fail_count | tojson }};
</script>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>