<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | QIMS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="signup-container">

    <div class="signup-card">

       <div class="logo">

    <h1>QIMS</h1>

    <p>Quality Inspection Management System</p>

</div>
        <h2>Welcome Back</h2>

        <p class="subtitle">
            Login to continue to your inspection dashboard.
        </p>

       <form action="{{ url_for('login') }}" method="POST">

            <label>Username</label>

            <div class="input-box">

                <i class="fa-solid fa-user"></i>

                <input
                  type="text"
                  name="username"
                  required>
            </div>

            <label>Password</label>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

               <input
                  type="password"
                  name="password"
                  id="loginPassword"
                  required>

                <i
                class="fa-solid fa-eye eye"
                onclick="toggleLoginPassword()"></i>

            </div>

            <div class="login-options">

                <label>

                    <input type="checkbox">

                    Remember Me

                </label>

                <a href="#">Forgot Password?</a>

            </div>
<!-- Login Information -->

<div class="login-info">

    <h3>

        <i class="fa-solid fa-circle-info"></i>

        Login Information

    </h3>

    <ul>

        <li>

            <i class="fa-solid fa-circle-check"></i>

            Use your registered username and password.

        </li>

        <li>

            <i class="fa-solid fa-circle-check"></i>

            Keep your login credentials confidential.

        </li>

        <li>

            <i class="fa-solid fa-circle-check"></i>

            Only authorized users can access QIMS.

        </li>

    </ul>

</div>

<button type="submit" class="login-btn">
    Login to QIMS
</button>

<p id="loginMessage" class="message"></p>

        </form>

        <div class="login-link">

            Don't have an account?

            <a href="/registration">

                Create Account

            </a>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>