<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign Up | QIMS</title>

    <link rel="stylesheet" href="../static/css/signup.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="signup-container">

    <div class="signup-card">

        <div class="logo">

            <h1>QIMS</h1>

            <p>Quality Inspection Management System</p>

        </div>

        <h2>Create Account</h2>

        <p class="subtitle">
            Create your account to access the QIMS application
        </p>

       <form action="/signup" method="POST">

            <label>Full Name</label>

            <div class="input-box">

                <i class="fa-solid fa-user"></i>

                <input
                   type="text"
                   name="fullname"
                   placeholder="Enter Full Name"
                   required>
            </div>
           <label>Email Address</label>

            <div class="input-box">

               <i class="fa-solid fa-envelope"></i>

               <input
                  type="email"
                  name="email"
                  placeholder="Enter Email Address"
                   required>

            </div>

            <label>Username</label>

            <div class="input-box">

                <i class="fa-solid fa-user"></i>

                <input
                   type="text"
                   name="username"
                   placeholder="Enter Username"
                   required>

            </div>


            <label>Password</label>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                   type="password"
                   id="password"
                   name="password"
                   placeholder="Enter Password"
                    required>

                <i
                    class="fa-solid fa-eye eye"
                    onclick="togglePassword()"></i>

            </div>


            <label>Confirm Password</label>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                   type="password"
                   id="confirmPassword"
                   name="confirmPassword"
                   placeholder="Confirm Password"
                   required>
                <i
                    class="fa-solid fa-eye eye"
                    onclick="toggleConfirmPassword()"></i>

            </div>


            <div class="terms">

                <input type="checkbox" required>

                <span>
                    I agree to the Terms & Conditions
                </span>

            </div>
<!-- Account Information -->

          <div class="info-box">

    <h3>

        <i class="fa-solid fa-circle-info"></i>

        Account Information

    </h3>

    <ul>

    <li>

        <i class="fa-solid fa-circle-check"></i>

        Use your official email address.

    </li>

    <li>

        <i class="fa-solid fa-circle-check"></i>

        All fields are mandatory.

    </li>

    <li>

        <i class="fa-solid fa-circle-check"></i>

        Choose a strong password for better security.

    </li>

    <li>

        <i class="fa-solid fa-circle-check"></i>

        Your information will be securely managed within QIMS.

    </li>

</ul>

</div>

            <button
                type="submit"
                class="signup-btn">

                Create Account

            </button>
            <p id="signupMessage" class="message"></p>
        </form>


        <div class="bottom-text">

            Already have an account?

            <a href="/login">

                Login

            </a>

        </div>

    </div>

</div>

<script src="../static/js/script.js"></script>

</body>

</html>