<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign Up | QIMS</title>

    <link rel="stylesheet" href="../static/css/signup.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="signup-container">

    <div class="signup-card">

        <div class="logo">

            <h1>QIMS</h1>

            <p>Quality Inspection Management System</p>

        </div>

        <h2>Create Account</h2>

        <p class="subtitle">
            Create your account to access the Quality Inspection Management System.
        </p>

        <form>

            <label>Full Name</label>

            <div class="input-box">

                <i class="fa-solid fa-user"></i>

                <input
                    type="text"
                    placeholder="Enter Full Name"
                    required>

            </div>


            <label>Username</label>

            <div class="input-box">

                <i class="fa-solid fa-user"></i>

                <input
                    type="text"
                    placeholder="Enter Username"
                    required>

            </div>


            <label>Password</label>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                    type="password"
                    id="password"
                    placeholder="Enter Password"
                    required>

                <i
                    class="fa-solid fa-eye eye"
                    onclick="togglePassword()"></i>

            </div>


            <label>Confirm Password</label>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                    type="password"
                    id="confirmPassword"
                    placeholder="Confirm Password"
                    required>

                <i
                    class="fa-solid fa-eye eye"
                    onclick="toggleConfirmPassword()"></i>

            </div>


            <div class="terms">

                <input type="checkbox" required>

                <span>
                    I agree to the Terms & Conditions
                </span>

            </div>


            <button
                type="submit"
                class="signup-btn">

                Create Account

            </button>

        </form>


        <div class="bottom-text">

            Already have an account?

            <a href="login.html">

                Login

            </a>

        </div>

    </div>

</div>

<script src="../static/js/script.js"></script>

</body>

</html>